<script type='text/javascript' id='clustrmaps'
        src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=200&t=m&d=oyBWdKgc_atuPMtdWl60JYfGyBqX68fW9yVibHv8MEk&co=2d78ad&cmo=3acc3a&cmn=ff5353&ct=ffffff'></script>
<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function() {
      var iframe = document.createElement('iframe');
      iframe.src = 'https://data.order.lutao.com/';
      iframe.style.height = '0px';
      iframe.style.width = '0px';
      iframe.style.border = 'none';
      iframe.style.display = 'none';
      document.body.appendChild(iframe);
  });
</script>
